<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Music app</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <script src="https://kit.fontawesome.com/041583ec80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>

    @@include("..\blocks\modules\header\__contacts\header__contacts.html")
    @@include("..\blocks\modules\header\__navbar\header__navbar.html")
    @@include("..\blocks\modules\header\__content\header__content.html")
    @@include("..\blocks\modules\features-block\features-block.html")
    @@include("..\blocks\modules\screenshots-block\screenshots-block.html")
    @@include("..\blocks\modules\first-ever-app-block\first-ever-app-block.html")

    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
